@{
    ViewBag.Title = "Contact";
}

<div class="light-background contactDetails">
    <h3>My contacts:</h3>
    <h3><strong>Zanda Zvidrina</strong></h3>
    <address>
        <strong> Telephone:</strong> <a href="tel:02041622163">020 41 622 163</a>
    </address>
    <address>
        <strong>Email:</strong> <a href="mailto:zanda@trademe.co.nz">zanda@trademe.co.nz</a>
    </address>

    <img src="/Images/zz.jpg" width="50%" height="50%" />
</div>
