@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ship your package with us</h1>
    <p>If you have a package and you want to ship it @Html.ActionLink("click here", "ParcelInputData", "Parcel")</p>
</div>

